/* @import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500");
 */
@font-face {
  font-family: "Roboto";
  src: url(/roboto_font/Roboto-Black.ttf);
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

ul {
  list-style: none;
}

img {
  width: 50px;
}

p {
  display: block;
}

/* Toggle Styles */

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
}

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #37474f;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar header {
  background-color: #263238;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
  margin-bottom: 10px;
}

#sidebar header a:hover {
  color: #fff;
}

#sidebar .nav {
  background: none;
  border-bottom: 1px solid #455a64;
  color: #cfd8dc;
  font-size: 18px;
  padding: 16px 24px;
}

#sidebar .nav:hover {
  background: none;
  color: #eceff1;
}

#sidebar .nav a i {
  margin-right: 16px;
}

#images {
  display: flex;
  margin-left: -40px;
}

#images img {
  transition: all 0.4s ease-in-out;
}

#images img:hover {
  transform: scale(1.1);
}

/* canvas {
  width: 100%;
  height: 100vh;
  cursor: crosshair;
  border: 1px solid #000000;
} */

#canvas {
  width: 100%;
  height: 100vh;
  border: 10px solid transparent;
}

.iron {
  background: #9391a8;
  position: absolute;
}

.cement {
  background: #b73239;
  position: absolute;
}

.crystal {
  background: #c4e8ef;
  position: absolute;
}

.wood {
  background: #966f33;
  position: absolute;
}

.btn {
  margin: 10px;
}

.APContent{
  display: flex;
}

#addAccessBtn{
  margin-top: -0.5px;
  height: 40px;
}

#innerCanvas{
  
}